/* tailwind configs */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ## Colors */
/* ### Primary */
/* - Dark-gray: hsl(0, 0%, 63%) */
/* - Black: hsl(0, 0%, 0%) */
/* - White: hsl(0, 0%, 100%) */
/* - Very dark-gray: hsl(0, 0%, 27%) */

/* ## Typography */
/* ### Body Copy */
/* - Font size: 12 pixels */

/* ### Font */
/* - Family: League Spartan */
/* - Weight: 500, 600, 700 */

/* variables */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --font-size: 12px;
    --font-family: 'League Spartan', sans-serif;
    --font-weight: 500;
}

body {
    background-color: var(--white);
    font-size: var(--font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    margin: 0;
    padding: 0;
}
